/* large sprite */
/* medium sprite */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

div.touchpad {
  position: fixed;
}
div.touchpad.touchpad-up, div.touchpad.touchpad-down {
  width: 50vw;
  height: calc((100vh - 112px) / 2);
  z-index: 1;
}
div.touchpad.touchpad-left, div.touchpad.touchpad-right {
  width: calc((100vw - 64px) / 2);
  height: 100vh;
}
div.touchpad.touchpad-up {
  top: 0;
  left: 25vw;
}
div.touchpad.touchpad-left {
  top: 0;
  left: 0;
}
div.touchpad.touchpad-down {
  bottom: 0;
  left: 25vw;
}
div.touchpad.touchpad-right {
  top: 0;
  right: 0;
}

div#madotsuki {
  width: 64px;
  height: 112px;
  margin: calc((100vh - 112px) / 2) auto;
  background-image: url("../graphics/sprites/64x112.png");
}
div#madotsuki.facing-down {
  background-position-y: 0;
}
div#madotsuki.facing-left {
  background-position-y: -112px;
}
div#madotsuki.facing-up {
  background-position-y: -224px;
}
div#madotsuki.facing-right {
  background-position-y: -336px;
}
div#madotsuki.still {
  background-position-x: 0;
}
div#madotsuki.left-step {
  background-position-x: -64px;
}
div#madotsuki.right-step {
  background-position-x: -128px;
}
